# Build outputs & Executables
bin/
obj/
dist/
build/
out/
target/
x64/
Debug/
Release/
Assembling/
scratch/
gar_data/
*.exe
*.dll
*.obj
*.o
*.elf
*.oelf
*.prx
*.sprx
*.bin
*.pkg
*.zip
*.7z
*.rar
*.tar.gz
*.apk
*.aab
*.msi
*.pfx
*.cer

# PS4 Package Installer specific
STORM_PKG/x64/
rpi_extracted/
eboot.bin
ull
*.txt.bak
*.log*

# Keep branding icons
!Files/*.ico
!Files/*.png
!Files/*.svg
!assets/*.png
!assets/*.ttf
!assets/*.ico
!STORM PS4 PKG INSTALLER/assets/*.png
!STORM PS4 PKG INSTALLER/assets/*.ttf
!STORM PS4 PKG INSTALLER/sce_sys/*.png
!STORM PS4 PKG INSTALLER/sce_sys/param.sfo

# IDE & Environment
.vs/
.vscode/
.idea/
*.suo
*.user
Thumbs.db
Desktop.ini
*.log
*.tmp
*.tmp*
node_modules/
__pycache__/
*.pyc

# STORM SOFT Security & Large File Shield
.env
.env.*
*credential*.json
*secret*
*.pfx
*.cer
*.key
deepseek_key.txt
google-credentials.json
installer/Output/
*.wal
